<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Todo</h5>
          <div class="list-group list-group-flush">

            <% @todo.each do |task| %>
              <a href="<%= "?edit=#{task['id']}" %>" class="list-group-item list-group-item-action"><%= task['task'] %></a>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Doing</h5>
          <div class="list-group list-group-flush">

            <% @doing.each do |task| %>
              <a href="<%= "?edit=#{task['id']}" %>" class="list-group-item list-group-item-action"><%= task['task'] %></a>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Done</h5>
          <div class="list-group list-group-flush">

            <% @done.each do |task| %>
              <a href="<%= "?edit=#{task['id']}" %>" class="list-group-item list-group-item-action"><%= task['task'] %></a>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="btn btn-primary" style="margin-top: 15px" data-toggle="modal" data-target="#addTaskModal">Add Task</a>


</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <a href="<%= "?edit=#{@task_id}&action=Todo"%>" class="btn btn-info">Move to Todo</a>
        <a href="<%= "?edit=#{@task_id}&action=Doing"%>" class="btn btn-info">Move to Doing</a>
        <a href="<%= "?edit=#{@task_id}&action=Done"%>" class="btn btn-info">Move to Done</a>
        <a href="<%= "?edit=#{@task_id}&action=delete"%>" class="btn btn-danger" style="margin-top: 15px">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- Add Task Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/" method="POST">
        <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control" id="taskInput" name="taskName" placeholder="Enter task">
            </div>

            <select name="status" class="form-control form-control-md">
              <option>Todo</option>
              <option>Doing</option>
              <option>Done</option>
            </select>
        </div>

        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Add">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<% if @display_modal %>
  <script>
      $('#exampleModal').modal('show');
  </script>
<% end %>

</body>

</html>